.cart {
    margin: 0 auto;
    width: 1280px;
    box-sizing: border-box;

    &__content {
        margin-top: 50px;
    }

   &__box {
    display: flex;
    gap: 200px;
    width: 100%;
    height: 100px;
    margin-bottom: 50px;
    align-items: center;

        img {
            width: 18%;
            height: 100px;
        }

        button {
            padding: 17px 30px;
            border: none;
            border-radius: 10px;
        }
   }
}