<header class="header" routerLink="">
    <div class="header__wrapper">
        <div class="header__logo">
        <img src="/assets/images/1.png">
    </div>
    <nav class="header__nav">
        <ul>
            <li><a>Laptops</a></li>
            <li><a>SmartPhones</a></li>
            <li><a>Monitors</a></li>
        </ul>
    </nav>
      <div class="header__actions">
        <img class="header__image search" src="/assets/images/gg_search.png" alt="">
        <img class="header__image" src="/assets/images/jam_shopping-cart.png" alt="">
        <img src="/assets/images/Ellipse 8.png" alt="">
        </div>
    </div>
    
</header>
