{{productSingle()?.id}}

    <div class="product-detail__wrapper">
        <div class="product-detail">

            <div class="product-detail__header">
                <nav class="product-detail__nav">
                    
                        <ul>
                            <li><a>Laptops</a></li>
                            <li><a>Smart Phones</a></li>
                            <li><a>Monitors</a></li>
                        </ul>
                </nav>
                <div class="product-detail__actions">
                    <p>On Sale from <strong>$3,299.00</strong> </p>
                    <div class="product-detail__input">
                        <div>{{counter()}}</div>
                        <div class="product-detail__input-images">
                            <img (click)="increment()" src="/assets/images/arrow-up.png" >
                            <img (click)="decrement()"  src="/assets/images/arrow-down.png"  
                             [class.disabled]="counter() === 0" >
                        </div>
                    </div>
                    
                    <button>Add to cart</button>
                    <button class="second-button">
                        <img src="/assets/images/Group 114.png">
                    </button>
                </div>
            </div>
            
            <div class="product-detail__content">
                 
                    <div class="product-detail__image-container">
                        <button (click)="prevImage()">
                        </button>
                        <div class="product-detail__image-box">
                            <img [src]="currentImage">
                        </div>
                    
                       
                        <button (click)="nextImage()">
                         
                        </button>
                    </div>
                
              
                <div class="product-detail__info">
                
                    <h2>MSI MPG Trident 3</h2>
                    <p class="product-detail__subtitle">Be the first to review this produc</p>
                    <span>MSI MPG Trident 3 10SC-005AU Intel i7 10700F, 2060 SUPER, 16GB RAM, 512GB SSD, 2TB HDD, Windows 10 
                        Home, Gaming Keyboard and Mouse 3 Years Warranty Gaming Desktop
                    </span>
                    <div class="product-detail__circles">
                        <div class="product-detail__circle first-circle"></div>
                        <div class="product-detail__circle second-circle"></div>
                        <div class="product-detail__circle third-circle"></div>
                    </div>
                    <div class="product-detail__contacts">
                        <p>Have a Question? <a href="#">Contact us</a> </p>
                    </div>

                </div>
            </div>
           
    
    </div>
      
    </div>
