{{productSingle()?.id}}

    <div class="product-detail__wrapper">
        <div class="product-detail">

            <div class="product-detail__header">
                <nav class="product-detail__nav">
                    
                        <ul>
                            <li><a>Laptops</a></li>
                            <li><a>Smart Phones</a></li>
                            <li><a>Monitors</a></li>
                        </ul>
                </nav>
                <div class="product-detail__actions">
                    <p>On sale</p>
                    <button>Add to cart</button>
                </div>
            </div>
            <div class="product-detail__content">
                <div class="product-detail__image">
                    <img src='/assets/images/msi.png'>
                </div>
                <div class="product-detail__info"></div>
            </div>
           
    
    </div>
      
    </div>
